.stats a {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.stats .btn-primary {
  background: #2ecc71;
}

.stats .btn-success {
  background: #2ecc71;
}

.stats .btn-warning {
  background: #f39c12;
}

.stats .btn-info {
  background: #16a085;
}


.pets-row {
  display: flex;
  gap: 24px;
  margin-top: 40px;
  justify-content: center;
}

.pet-gif {
  width: 120px;
  height: auto;
}