<div class="tenor-gif-embed" 
     data-postid="12756433236776117962" 
     data-share-method="host" 
     data-aspect-ratio="1" 
     data-width="100%">
    <a href="https://tenor.com/view/cat-gif-12756433236776117962">Cat GIF</a>
    from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a>
</div>

<div class="tenor-gif-embed" 
     data-postid="18089551" 
     data-share-method="host" 
     data-aspect-ratio="1.02894" 
     data-width="100%">
    <a href="https://tenor.com/view/dog-tired-sad-depressed-exhausted-gif-18089551">Dog Tired GIF</a>
    from <a href="https://tenor.com/search/dog-gifs">Dog GIFs</a>
</div>

<div class="tenor-gif-embed" 
     data-postid="24314518" 
     data-share-method="host" 
     data-aspect-ratio="1.07383" 
     data-width="100%">
    <a href="https://tenor.com/view/dog-happy-miss-you-tail-gif-24314518">Dog Happy GIF</a>
    from <a href="https://tenor.com/search/dog-gifs">Dog GIFs</a>
</div>

<script async src="https://tenor.com/embed.js"></script>
<style>
.tenor-gif-embed {
    max-width: 300px;
    margin: 20px auto;
    border-radius: 12px;
    overflow: hidden;
}
</style>
